<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>TecnoMarket Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="box">
    <h1>TecnoMarket</h1>

    <img src="{{ url_for('static', filename='img/tecnomarket-logo.png') }}" alt="Logo TecnoMarket">

    <form action="/login" method="POST">
        <input type="email" name="correo" placeholder="Correo" required>

        <input type="password" name="password" placeholder="Contraseña" required>

        {% if error %}
            <div class="mensaje-error">
                {{ error }}
            </div>
        {% endif %}

        <button type="submit">Ingresar</button>
    </form>
</div>

</body>
</html>
